[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/swift.vim"]
	path = .vim/bundle/swift.vim
	url = git@github.com:keith/swift.vim.git
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule ".vim/bundle/vim-table-mode"]
	path = .vim/bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-fontsize"]
	path = .vim/bundle/vim-fontsize
	url = git@github.com:drmikehenry/vim-fontsize.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/vim-textobj-line"]
	path = .vim/bundle/vim-textobj-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule ".vim/bundle/vim-system-copy"]
	path = .vim/bundle/vim-system-copy
	url = git@github.com:christoomey/vim-system-copy.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule ".vim/bundle/indentpython.vim"]
	path = .vim/bundle/indentpython.vim
	url = git@github.com:vim-scripts/indentpython.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-javacomplete2"]
	path = .vim/bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule ".vim/bundle/oceanic-next"]
	path = .vim/bundle/oceanic-next
	url = git@github.com:mhartington/oceanic-next.git
[submodule ".vim/bundle/python-imports.vim"]
	path = .vim/bundle/python-imports.vim
	url = git@github.com:vim-scripts/python-imports.vim.git
