[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/vim/bundle/swift.vim"]
	path = vim/vim/bundle/swift.vim
	url = git@github.com:keith/swift.vim.git
[submodule "vim/vim/bundle/python-syntax"]
	path = vim/vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/vim/bundle/vim-easymotion"]
	path = vim/vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/vim/bundle/vim-fontsize"]
	path = vim/vim/bundle/vim-fontsize
	url = git@github.com:drmikehenry/vim-fontsize.git
[submodule "vim/vim/bundle/vim-unimpaired"]
	path = vim/vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/vim/bundle/vim-latex"]
	path = vim/vim/bundle/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "vim/vim/bundle/vim-multiple-cursors"]
	path = vim/vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-commentary"]
	path = vim/vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/vim/bundle/vim-textobj-line"]
	path = vim/vim/bundle/vim-textobj-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule "vim/vim/bundle/vim-textobj-user"]
	path = vim/vim/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim/vim/bundle/typescript-vim"]
	path = vim/vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/vim/bundle/SimpylFold"]
	path = vim/vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "vim/vim/bundle/indentpython.vim"]
	path = vim/vim/bundle/indentpython.vim
	url = git@github.com:vim-scripts/indentpython.vim.git
[submodule "vim/vim/bundle/YouCompleteMe"]
	path = vim/vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/vim/bundle/vim-flake8"]
	path = vim/vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/vim/bundle/auto-pairs"]
	path = vim/vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/vim/bundle/vim-autoformat"]
	path = vim/vim/bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "vim/vim/bundle/oceanic-next"]
	path = vim/vim/bundle/oceanic-next
	url = git@github.com:mhartington/oceanic-next.git
[submodule "vim/vim/bundle/vim-snippets"]
	path = vim/vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/vim/bundle/ultisnips"]
	path = vim/vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/vim/bundle/vim-tmux-navigator"]
	path = vim/vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/vim/bundle/xmledit"]
	path = vim/vim/bundle/xmledit
	url = git@github.com:sukima/xmledit.git
[submodule "vim/vim/bundle/vim-airline-themes"]
	path = vim/vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/vim/bundle/vim-misc"]
	path = vim/vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/vim/bundle/vim-easytags"]
	path = vim/vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/vim/bundle/vim-quantum"]
	path = vim/vim/bundle/vim-quantum
	url = git@github.com:tyrannicaltoucan/vim-quantum.git
[submodule "vim/vim/bundle/vim-table-mode"]
	path = vim/vim/bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/vim/bundle/YCM-Generator"]
	path = vim/vim/bundle/YCM-Generator
	url = git@github.com:rdnetto/YCM-Generator.git
[submodule "vim/vim/bundle/vim-pug"]
	path = vim/vim/bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "vim/vim/bundle/onedark.vim"]
	path = vim/vim/bundle/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
