#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Organization
Exec=firefox calendar.google.com/b/0 calendar.google.com/b/1 todoist.com 'https://dev.azure.com/apps-munichre/QualityTools/_sprints' & sleep 0.5 && i3-msg 'move to workspace 9' && i3-msg 'workspace 9'
Icon=organization
